extends base

block content 
    form(method="POST")
        input(placeholder="Email", type="email", required, name="email")
        input(placeholder="Username", type="text", required, name="username")
        input(placeholder="Password", type="password", required, name="password")
        input(placeholder="Password Confirmation", type="password", required, name="confirmPassword")
        input(placeholder="Name", type="text", name="name")
        input(placeholder="Location", type="text", name="location")
        if errorMessage 
            h3=errorMessage
        input(type="submit", value="Join")
        include partials/social-login
    div.auth-switch
        span Alreday have an account? 
        a(href="/login") Log in now &rarr;