extends base

block content 
    form(method="POST")
        input(placeholder="Username", type="text", required, name="username")
        input(placeholder="Password", type="password", required, name="password")
        if errorMessage 
            h3=errorMessage
        input(type="submit", value="Login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Create one now &rarr;