extends base

block content 
    form(method="POST")
        h4 Username
        input(type="text", required, name="username")
        h4 Password
        input(type="password", required, name="password")
        if errorMessage 
            h3=errorMessage
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create one now &rarr;