extends ../base

block content 
    div.back
        a(href="/users/edit") Back &larr;
    form(method="POST")
        input(placeholder="Current Password", name="beforePassword", type="password", required)
        input(placeholder="New Password", name="newPassword", type="password", required)
        input(placeholder="New Password Confirmation", name="newPasswordConfirmation", type="password", required)
        if errorMessage 
            h3=errorMessage
        input(type="submit", value="Change Password")